// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  height: 100%;
  width: 100%;
  background-image: url(/assets/background2.jpg);
  background-size: 100%;
}

form {
  height: 85%;
  margin-left: 5%;
  margin-right: 5%;
}

.input.day_content {
  height: 80%;
}

.input.day_tags {
  margin-top: 2%;
}

textarea.day-input {
  width: 100%;
  height: 100%;
  resize: none;
  border: 0px;
}

h1#day {
  text-align: center;
}
