// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  height: 100%;
  width: 100%;
  background-image: url(/assets/background2.jpg);
  background-size: 100%;
}

form {
  height: 85%;
}

.input {
  height: 90%;
}

textarea.day-input {
  width: 90%;
  height: 100%;
  resize: none;
  border: 0px;
  position: relative;
  left: 5%;
}

h1#day {
  text-align: center;
}

.actions {
  position: relative;
  top: 5%;
  left: 7%;
}
