// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  height: 100%;
}

form {
  height: 85%;
}

.input {
  height: 100%;
}

textarea.day-input {
  width: 100%;
  height: 95%;
  resize: none;
  border: 0px;
}
